<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>个人理财系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--弹出框样式-->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <style>
        body {
            background-image: url(../../images/bg.jpg);
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<div class="lyear-layout-web" id="app">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="user/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="user/common/topbar::#topbarheader"></div>


        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>工资理财推荐</h4>
                            </div>
                            <div th:if="${!payMoneyList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">产品类型</th>
                                            <th class="info">每月金额设定</th>
                                            <th class="info">自动转入</th>
                                            <th class="info">投资期限</th>
                                            <th class="info">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="pm:${payMoneyList}">
                                            <td th:text="${pmStat.index+1}"></td>
                                            <td th:if="${pm.type==1}" th:text="国债"></td><td th:if="${pm.type==2}" th:text="期货"></td>
                                            <td th:text="${#numbers.formatDecimal(pm.monthMoney,1,2)}"></td>
                                            <td th:if="${pm.autoInto==1}" th:text="是"></td><td th:if="${pm.autoInto==2}" th:text="否"></td>
                                            <td th:text="${pm.invesTerm}"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm buy_btn"
                                                        th:attr="buyBtnId=${pm.id},buyBtnName=${pm.type}">
															<span class="glyphicon glyphicon-usd"
                                                                  aria-hidden="true"></span> 投资
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div th:if="${payMoneyList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <h4>很抱歉！暂时还没有工资理财向您推荐</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">支付认证</h4>
                                </div>
                                <div class="modal-body">
                                    <!--要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">支付密码：</label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control"
                                                       id="paypassword" name="paypassword"

                                                       placeholder="请输入支付密码：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-6"  v-if="toProfile">

                                                <span class="help-block" style="margin-left: 100px"> <a href="/user/personal/toProfile.html">点击去修改个人信息</a></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="save_btn">提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>


<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script type="text/javascript">
    const app = new Vue({
        el: "#app",
        data: {
            msgNum: 0,
            toProfile:false,
        },
        mounted: function () {
            axios({
                url: "/user/historyinfo/unread",
                method: "get",
            }).then((result)=>{
                if (result.data.code === 100) {
                    this.msgNum = result.data.extend.msgNum;
                }
            })
        }
    });

</script>




<script th:inline="javascript">
    var save_btn_value = false;
    function verifyLogin() {
        if (!$("#paypassword").val()) {
            show_validate_msg("#paypassword", "error", "密码为空");
            // $("#save_btn").attr("disabled", "disabled");
            save_btn_value = false;
            return false;
        } else if( $("#paypassword").val().length !== 6){
            // $("#save_btn").attr("disabled", "false");
            save_btn_value = true;
            show_validate_msg("#paypassword", "error", "密码长度为6位");
            return false;
        }else if($("#paypassword").val().length === 6){
            return true;
        }

    }
    function reset_form(ele) {
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        //$(ele).find(".help-block").text("");
    }
    var userId = undefined;
    var payMoneyId= undefined;

    $("#save_btn").click(function () {

        if (verifyLogin()) {
            $.ajax({
                url: "/user/verifyPayPassword",
                type: "POST",
                data: {
                    "paypassword": $("#paypassword").val()
                },
                success: function (result) {
                    if (result.code === 100) {
                        $.ajax({
                            url : "/user/buyPayMoney",
                            type : "POST",
                            data : {
                                payMoneyId:payMoneyId,
                                userId:userId
                            },
                            success : function(result) {
                                if (result.code===100){
                                    $("#addModal").modal('hide');
                                    $.alert('买入成功!');
                                }else {
                                    $.alert('买入失败!');
                                }
                            }
                        });
                    }else{
                        var message = result.msg;
                        if (message != null) {
                            show_validate_msg("#paypassword", "error", message);
                            app.toProfile = true;
                        } else {
                            show_validate_msg("#paypassword", "error",
                                "密码错误");
                            // $("#save_btn")
                            //     .attr("disabled", "disabled");
                        }
                    }
                }
            })
        }

    });
    $(document).on("click",".buy_btn",function () {
         payMoneyId = $(this).attr("buyBtnId");
         userId = [[${session.loginUser.id}]];
        //alert(userId);
        var type = $(this).attr("buyBtnName");
        var name;
        if (type==1){
            name="国债"
        }else{
            name="期货";
        }
        let jc=$.alert({
            title: '提示：',
            content: "确定买入该 <strong>"+name+"</strong> 吗？",
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function(){
                        jc.close();
                        reset_form("#addModal form");
                        $("#addModal").modal({
                            //点击增加框背景不删除增加框
                            backdrop: "static"
                        });


                    }


                },
                cancel: {
                    text: '取消',
                    action: function () {
                        $.alert('已取消!');
                    }
                }

            },


        });
    })
    function show_validate_msg(ele, status, msg) {
        //清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success" === status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" === status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

</script>

</body>
</html>
