<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>个人理财系统</title>
  <!-- 引入bootstrap样式 -->
  <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
  <!--图标库-->
  <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
  <!--弹出框样式-->
  <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
  <!--自定义样式-->
  <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
  <style>
    body {
      background-image: url(../../images/bg.jpg);
      background-size: 100% 100%;
    }
  </style>
</head>
<body>
<div class="lyear-layout-web" id="app">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <div th:replace="user/common/leftbar::#leftbaraside"></div>
    <!--头部信息-->
    <div th:replace="user/common/topbar::#topbarheader"></div>
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4>我的头像</h4>
              </div>

              <div class="card">
                <div class="card-body">
                  当前头像：
                  <div th:if="${session.userAvatar!=null}">
                    <img th:src="'/user/userAvatar/'+${session.userAvatar.uuid}"
                         v-bind:src="'/user/userAvatar/' + curAvatar.uuid"
                         alt="头像"
                         class="img-circle "
                         style="width: 300px;height: 300px"
                         id="curAvatar">
                  </div>
                  <div th:if="${session.userAvatar==null}">
                    <img th:src="@{/images/pic.jpg}"
                         alt="头像"
                         class="img-circle "
                         style="width: 300px;height: 300px"
                    >
                    <br>
                  </div>
                  <form id="avatarForm"
                        enctype="multipart/form-data"
                        action="/user/userAvatar"
                        method="post">

                    <div class="form-group">
                      <label for="avatar">选择头像</label>
                      <input class="form-control"
                             id="avatar"
                             type="file"
                             name="avatar"
                      >
                      <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                      <button class="btn btn-primary" id="submit" type="button">上传头像</button>
                    </div>
                  </form>

                </div>
                <div class="card-header">
                  <h4>历史头像</h4>
                </div>
                <div class="card-body">
                  <div v-for="avatar in avatars"
                       style="display: inline-block"
                       v-bind:key="avatar.uuid"
                  >
                    <div>
                      {{avatar.createTime | fixDate}}
                    </div>
                    <img v-bind:src="'/user/userAvatar/'+avatar.uuid"
                         alt="头像"
                         class="img-circle "
                         style="width: 200px;height: 200px"
                    >
                    <div>
                      <input type="button" value="删除"
                             class="btn btn-danger btn-sm"
                             :uuid="avatar.uuid"
                             @click="avatarDelete"
                             style="margin-left: 30px;">
                      <input type="button" value="使用"
                             class="btn btn-success btn-sm"
                             v-bind:uuid="avatar.uuid"
                             @click="avatarSelect"
                             style="margin-left: 20px;">
                    </div>
                    <br>
                    <br>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script th:inline="javascript">

    $(function () {
        $("#submit").click(function () {
            let data = new FormData();
            data.append("avatar", $("#avatar")[0].files[0])
            $.ajax({
                url: "/user/userAvatar",
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                success(result) {
                    console.log(result.msg);
                    $("#curAvatar").attr("src", "/user/userAvatar/" + result.extend.avatar);
                    $.alert({
                        title: "提醒",
                        content: result.msg,
                        buttons: {
                            ok: {
                                text: "确定",
                                action: function () {
                                    window.location.href = "/user/personal/toAvatar.html";
                                    console.log("hehe")
                                }
                            }

                        }

                    })
                },
                error() {
                    $.alert({
                        title: "提醒",
                        content: "请检测您的网络"
                    })
                }
            })
        })
    });


    //显示校验结果的提示信息
    function show_validate_msg(ele, status, msg) {
        //清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success" == status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" == status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

    function getHistoryAvatars(change) {
        axios({
            url: "/user/userAvatar",
            method: "get"
        }).then((result) => {
            if (result.data.code === 100) {
                change = result.data.extend.avatars;
            } else {
                console.log(result.data);
            }
        })
    }

    const app = new Vue({
            el: "#app",
            data: {
                msgNum: 0,
                avatars: undefined,
                curAvatar:[[${session.userAvatar}]]
            },
            methods: {
                avatarDelete() {
                    var uuid = $(event.target).attr("uuid");
                    $.confirm({
                        title: "警告",
                        content: "确定要删除吗？",
                        type: "red",
                        buttons: {
                            "确定": function () {
                                console.log(uuid);
                                axios({
                                    url: "/user/userAvatar/" + uuid,
                                    method: "delete"
                                }).then((result) => {
                                    $.alert({
                                        title: "提示",
                                        content: result.data.msg,
                                    });
                                    console.log(uuid);
                                    for (i in app.avatars) {
                                        if (app.avatars[i].uuid === uuid) {
                                            app.avatars.splice(i, 1);
                                            break;
                                        }
                                    }
                                })
                            },

                            '取消': function () {

                            }
                        }


                    });

                }
                ,
                avatarSelect() {
                    let uuid = $(event.target).attr("uuid");
                    axios({
                        url: "/user/userAvatar/" + uuid,
                        method: "put"
                    }).then((result) => {
                        $.alert({
                            title: "提示",
                            content: result.data.msg,
                        });
                        for (i in this.avatars) {
                            if (this.avatars[i].uuid === uuid) {
                                const before = this.curAvatar;
                                this.curAvatar = this.avatars[i];
                                this.avatars.splice(i,1,before);
                                break;
                            }
                        }
                        // TODO
                        /*axios({
                            url: "/user/userAvatar",
                            method: "get"
                        }).then((result) => {
                            if (result.data.code === 100) {
                                this.avatars = result.data.extend.avatars;
                            } else {
                                console.log(result.data);
                            }
                        })*/
                    })
                }
            },
            mounted: function () {
                axios({
                    url: "/user/historyinfo/unread",
                    method: "get",
                }).then((result) => {
                    if (result.data.code === 100) {
                        this.msgNum = result.data.extend.msgNum;
                    }
                });
                axios({
                    url: "/user/userAvatar",
                    method: "get"
                }).then((result) => {
                    if (result.data.code === 100) {
                        this.avatars = result.data.extend.avatars;
                    } else {
                        console.log(result.data);
                    }
                })
            },
            filters: {
                fixDate(date) {
                    let _d = new Date(date);
                    _d.setHours(_d.getHours() + 8);
                    return _d.toJSON().substring(0, 19).replace("T", " ");
                }
            }
        })
    ;

</script>
</body>
</html>
